@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.card-container {
  background-color: #1b1937;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100;
  text-align: center;
  white-space: wrap;
}

:root {
  --accent: hsl(277, 64%, 61%);
  --paragraph: hsla(0, 0%, 100%, 0.75);
  --stats: hsla(0, 0%, 100%, 0.6);
}

.header {
  color: #ffffff;
}

.highlight {
  color: #ab5cdb;
}

.stats {
  font-family: 'Lexend Deca', sans-serif;
}

.image {
}
